@font-face {
  font-family: "archerus";
  src: url("../assets/acherusgrotesque.otf") format("truetype");
}

.history-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banniere {
  width: 100vw;
}

.rounded_logo {
  padding-bottom: 2.5rem;
  width: 40%;
}

.presentation {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.History-footer {
  position: sticky;
  bottom: 0;
}

.master-system,
.megadrive,
.nintendo64,
.nintendo-ds {
  width: 50vw;
}
